*{
    margin: 0;
    padding: 0;
}

.main {

}

.banner {
    width: 970px;
    height: 250px;
    background-image: linear-gradient(24deg, #a20600, #c30700 );
    display: block;
    margin: 0 auto;
    transform: translate(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.banner h1 {
    color: #fff;
    font-family: cronos-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45pt;
    display: block;
    text-align: center;
    float: left;
    padding: 17px 98px;
}

.banner img {
    float: left;
    display: block;
    position: relative;
    top: 68px;
    right: 30px;
}